.customers {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.customers__item {
  display: flex;
  flex-basis: calc(100% / 3);
  align-items: center;
  justify-content: center;
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}

.customers__item:nth-child(3) {
  border-right: none;
}
.customers__item:nth-child(6) {
  border-right: none;
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}
/* .customers__row {
  display: flex;
  /* flex-direction: column;
} */
@media screen and (min-width: 400px) {
  .customers {
    width: 100%;
    justify-content: space-between;
    /* flex-direction: row; */
    /* align-items: center; */
    padding: 30px 130px 106px 130px;
  }
  .customers__item {
    flex-basis: auto;
    height: auto;
    width: auto;
    border: none;
  }
  .customers__logo {
    max-width: 100%;
  }
  /* .customers__row {
    flex: 1;
    justify-content: space-around;
  } */
}
