.order {
  padding: 50px 15px;
  background-color: $color-light;
  @include for-large-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 73px 0 72px 0;
  }
  &__details {
    @include for-large-up {
      max-width: 555px;
    }
  }
  &__illustration {
    display: block;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;

    @include for-large-up {
      max-width: 269px;
      margin: 0;
      margin-right: 121px;
    }
  }
  &__title {
    margin: 0;
    margin-top: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.25px;

    @include for-large-up {
      margin-top: 0;
    }
  }
  &__text {
    margin: 0;
    margin-top: 18px;
    font-size: 22px;
    line-height: 32px;
  }
  &__form {
    @include for-large-up {
      display: flex;
      margin-top: 26px;
    }
  }
  &__email {
    height: 48px;
    width: 100%;
    margin-top: 40px;
    border: 1px solid $border-color;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
    line-height: 13px;
    &::placeholder {
      color: $color-dark;
    }
    @include for-large-up {
      width: 385px;
      margin-top: 0;
    }
  }
  &__button {
    margin-top: 12px;
    @include for-large-up {
      margin-top: 0;
      margin-left: 10px;
    }
  }
  &__terms {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: $text-color-light-grey;
  }
  &__terms-link {
    color: $text-color-blue;
  }
}
